<h1> Our GIFavorite GIFilmers </h1>

<% @users.each do |user| %>
<p><%= link_to submit_tag(user.name, class: "user_button"), user_path(user)%></p>
<% end %>

<%= link_to submit_tag("Create a New User", class: "button"), new_user_path %><br /><br />
<%= link_to submit_tag("Leaderboard", class: "button"), '/users/leaderboard' %><br /><br />
<%= link_to submit_tag("Back to Home", class: "button"), '/games' %>