<h1 style="text-align: center;">Thanks for playing!</h1>
<h2 style="text-align: center;">Total Score: <%= @game.score * 20 %></h2><br><br>

<p style="text-align: center;"><%= link_to submit_tag("Back to Profile", class: "button"), user_path(@game.user) %></p>
<p style="text-align: center;"><%= link_to submit_tag("LeaderBoard", class: "button"), '/users/leaderboard' %></p>