<h2>Welcome to GIFilmy! Ready to watch some GIFilms?</h2>
<p><%= link_to submit_tag("Create a Profile to Play!", :class => "button"), new_user_path %></p>
<p><%= link_to submit_tag("Already Have an Account? Log in!", :class => "button"), login_path %></p> 
<p><%= link_to submit_tag("See Existing Users", :class => "button"), users_path %></p> 
