<h1>Welcome to GiFilmy! Ready to watch some GiFilms?</h1>
<p><%= link_to 'Create a Profile to Play!', new_user_path %></p>
<p><%= link_to 'Already Have an Account? Log in!', login_path %></p> 
<p><%= link_to 'See Existing Users', users_path %></p> 
