<h2 style="text-align: center;">Welcome to GIFilmy! Ready to watch some GIFilms?</h2>
<p class="gif"><img class="gif" src="https://media.giphy.com/media/26DOMQa5Ib2SmaRZm/giphy.gif" height="400" width="600"></p>
<p><%= link_to submit_tag("Create a Profile to Play!", :class => "button"), new_user_path %></p>
<p><%= link_to submit_tag("Already Have an Account? Log in!", :class => "button"), login_path %></p> 
<p><%= link_to submit_tag("See Existing Users", :class => "button"), users_path %></p> 

