<h1 style="text-align: center;">Leaderboard</h1>
<p style="text-align: center;"><% @user_gamescores.each do |game|%>
    <%= game.last %>: <%=(game.first) %><br /><br />
<% end %></p>
<p style="text-align: center;"><%= link_to submit_tag("Back to Home", class: "button"), '/games' %></p>