.button {
    background-color: #6b0d63; 
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    font: 30px/20px Courier New, serif;
    font-size: 20px; 
    border-radius: 25px;
    text-align: center;
  }